.conatiner-box{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-columns:repeat(auto(auto-fill, minmax(2, 1fr)));
}

.boxes .boxes-image{
    height:400px;
    width:600px;
    margin-left:10%;
    border:2px solid black;
}