.main{
    /* display:flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    /* min-width: 50vh; */
    background-color: rgb(214, 207, 207);
    padding-left: 5vw;
    padding-right: 5vw;
}


.main--section-sectors-districts{
    display:flex;
    flex-direction: row;
    margin-top: 3rem;
    

    justify-content: space-around;
    
}

.main--section-sectors-districts > *{
    height:25rem;
    width: 20rem;
}

.main--section-text{
    position:absolute;
    font-size: 2rem;
    font-family: "poppins-bold";
    color: antiquewhite;
    text-transform: uppercase;
    z-index: 2;
    opacity: 1;
    transform: translateY(10px) scale(1);
    transition: transform .4s ease-in;
    /* transition: opacity 0.6s ease-in; */
}

.main--section-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main--section-card:hover  .main--section-text{
    /* opacity: 0; */
    /* border-bottom: 1px solid antiquewhite; */
    /* padding-bottom: 5px; */
    transform: translateY(-5px) scale(1.1);
    transition: transform .4s ease-out;
}


.main--section-card:hover .main--section-text-info{
    transform: translateY(50%);
    transition: transform 0.5s ease;
    transform-origin: bottom top;

}


.main--section-card .main--section-text-info{
    transition: transform 0.5s ease;
}

.main--section-text-info{
    padding: 1rem;
    text-align:center;
    color:bisque;
    font-size: 1rem;
    font-family: "poppins-light";
    border-radius: 54px 0px 54px 10px;
    -webkit-border-radius: 54px 0px 54px 10px;
    -moz-border-radius: 54px 0px 54px 10px;
    background-color: rgba(73, 72, 75, 0.756);
    position: relative;
    width:100%;
    height: 100%;
    transform: translateY(100%);
    transform-origin: top bottom;

}


.main--section-sectors-districts > *{
border-radius: 54px 54px 54px 54px;
/* -webkit-border-radius: 54px 0px 54px 10px; */
/* -moz-border-radius: 54px 0px 54px 10px; */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0), 0 6px 20px rgba(0, 0, 0, 0);



}

.main--section-card:hover{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 1);
transition: box-shadow 0.3s ease;
/* background:linear-gradient(to bottom, rgba(253, 253, 253, 0) 0%, rgba(244, 242, 242, 0) 100%) */
}

.main--section-card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0), 0 6px 20px rgba(0, 0, 0, 0);
transition: box-shadow 0.8s ease;
}

.main--section-sectors-districts-north{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.415) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/tiles/zenith North.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}

.main--section-sectors-districts-south{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.415) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/tiles/verdentsouth.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}

.main--section-sectors-districts-east{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.415) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/tiles/aurora\ east.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}

.main--section-sectors-districts-west{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.415) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/tiles/mystic\ west.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}

.main--section-heading{
    box-shadow: inset;
    text-transform: uppercase;
    font-family: "poppins-bold";
    /* margin-top:3rem; */
    padding-top: 5rem;
    font-size: 3rem;
    text-align: center; 
    /* padding:0; */
    /* display: none; */
}

