*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#024d27;
    /* width: 100vh; */
}

body{
    /* height:100vh; */
    overflow-x: hidden;
    /* background-image: url("../images/textile-pattern.jpeg"); */
}
 

.header-heading-services-icons{
    width: 4rem;
    filter: brightness(0) saturate(100%) invert(22%) sepia(14%) saturate(4504%) hue-rotate(115deg) brightness(92%) contrast(104%);


}

.header-heading-services-text{
    font-size: 1rem;
}

.header-heading-services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header-heading-services{
    margin-top: 2rem;
    /* width:40vw;  */
    gap:8vw;
    display: flex;
    justify-content:space-around;
}
.container{
    
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(147, 194, 161);
    font-family: "poppins-light";
    display: grid;

    /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
    grid-template-rows:repeat(auto-fit,1fr);

}



@font-face {
    font-family: "poppins-bold";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "poppins-SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "poppins-light";
    src: url("../fonts/Poppins-Light.ttf");
}

.header{
    filter: brightness(130%);
    background-image:linear-gradient(90deg, rgba(146,146,151,0.5831466375612745) 0%, rgba(188, 188, 193, 0.589) 53%, rgba(120,122,123,0.692390335040266) 100%), url("../images/buddha_park.jpg");
     -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px);
    /* min-width: 100vw; */
    min-height: 80vh;
    /* min-width: 100vw; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
}

.header-nav{
    padding-top: 1rem;
    z-index: 1; 
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins-SemiBold";
}

.header-nav-link {
    margin: 1rem;
    padding:0.5rem 0.8rem;
    text-decoration: none;
    border-radius: 30px;
    transition: background 0.7s ease-out;
}

.header-nav-link:hover{
    box-sizing: border-box;
    background-color: #024d27;
    color: wheat;
    border-radius: 30px;
    transition: background 0.7s ease-in;
}



.header-nav-logo{
    width:8rem;
    height:auto;
}

.header-heading{
    margin-top: 1.5rem;
    width:inherit;
    height: 35rem;
    /* margin-left: 3rem; */
    /* margin-right: 3rem; */
    padding:2rem;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    gap: 1rem;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover; */
}

.header-heading-text-area{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

}

.header-heading-social-links{
    display: none;
    font-size: 2rem;
    color:white;
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.header-heading-title-text{
    font-family: "poppins-bold";
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
}


.header-heading-social-links-icon{
    margin:0.5rem;
    font-size: 2rem;
    position:relative;
    width:3rem;
    height:3rem;
    border-radius: 50%;
    color:#024d27;
    background-color: white;
    bottom: 0;
    
}
.header-heading-social-links-icon:hover{
    color:white;
    background-color:#024d27;
    transition:background-color .4s ease-out;

}

.header-heading-title-para{
    font-family: "poppins-semibold";
}

.header-heading-title-button{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding:0.5rem 1rem;
    border-radius: 30px;
    background-color:#024d27;
    font-family: "poppins-bold";
    color:bisque;
    text-decoration: none;
    
}
.header-heading-title-button:hover{
    background-color: #45a049; /* Darker green */
    transform: scale(1.1); /* Slightly increase size */
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2), 0 17px 50px rgba(0, 0, 0, 0.19);
}


.fa{
    color:inherit;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

